.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid red;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate3d();
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.10);
}